<a href="/Bright_Ideas">Bright Ideas</a>   <a href="/logout">Logout</a>
<ul>
    <li>Name: @ViewBag.ViewUser.Name</li>
    <li>Alias: @ViewBag.ViewUser.Alias</li>
    <li>Email: @ViewBag.ViewUser.Email</li>
</ul>
<hr>
<p>Total number of Ideas: @ViewBag.ViewUser.UserIdeas.Count</p>
<p>Total number of Likes given: @ViewBag.ViewUser.IdeasLiked.Count</p>